nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    .route{
        text-decoration: none;
        color: #ffca44;
        &:hover{
            transition: .2s;
            transform: scale(1.2);
        }
    }
}
.active{
    text-decoration: none;
    color: #fafafa;
    transform: scale(1.2);
}